@use "@angular/material" as mat;

html {
  @include mat.dialog-overrides(
    (
      container-color: var(--mat-sys-surface-container-high),
    )
  );
}

.full-screen-dialog {
  @media (width < 40rem) {
    @include mat.dialog-overrides(
      (
        container-shape: 0,
      )
    );
    .mat-mdc-dialog-content {
      // device height - header height -actions height
      max-height: calc(100dvh - 68px);
    }
  }
}